.tr-unfulfilled {
  background-color: #fff3cd; /* màu nền vàng nhạt */
}

.tr-fulfilled {
  background-color: #d4edda; /* màu nền xanh lá cây nhạt */
}

.tr-shipped {
  background-color: #cce5ff; /* màu nền xanh nước biển nhạt */
}

.tr-requested-cancellation {
  background-color: #ffffcc; /* Màu nền vàng nhạt cho trạng thái REQUESTED_FOR_CANCELLATION */
}

.tr-cancelled {
  background-color: #ffcccc; /* Màu nền đỏ nhạt cho trạng thái CANCELLED */
}
